* {
    margin: 0;
    padding: 0;
}

body {
    background: #f0f0f0;
    padding: .5em;
    font-family: sans-serif;
}

header, main {
    max-width: 320px;
}

header textarea, main > div {
    font-family: inherit;
    font-size: inherit;
    padding: 0.5em;
    border: 1px solid #aaa;
    background: #fff;
}

header {
    margin: 1em auto;
    text-align: right;

    textarea {
        width: 100%;
        height: 5em;
        min-height: 1.5em;
        max-height: 10em;
        resize: vertical;
        box-sizing: border-box;
    }

    button {
        border: 1px solid #aaa;
        background: #f5f5f5;
        padding: 0.25em 1em;
    }
    button, input {
        height: 1.5em;
    }

    .title {
        font-size: 133%;
        text-align: center;
        margin-bottom: 1em;
    }

    .controls {
        margin-top: 0.5em;
    }
}

main {
    margin: 0 auto 0.5em auto;
    display: flex;
    flex-direction: column-reverse;
}

main {
    .post {
        margin-bottom: 0.5em;

        &.new {
            animation: fadein 1.2s;
        }

        .post-footer {
            margin-top: 0.75em;
            opacity: 0.33;
            font-size: 75%;
            text-align: right;
        }
    }
}

@keyframes fadein {
    from {opacity: 0} to {opacity: 1}
}

.top-head {
    font-size: 75%;
}
.top-head {
    max-width: 640px;
    margin: 0 auto;
}

.wide-container {
    max-width: 640px;
    margin: 1em auto 0 auto;
    p {
        margin: .5em 0;
    }
}

.text-center {
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    padding: -.2em;

    > div {
        margin: .2em;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.space-between { justify-content: space-between; }
}

