{% extends "base.html" %}

{% block content %}

<div class="wide-container">
    <p>
        Hi! This is an anonymous chat website that
    </p>
    <ul>
        <li>avoids tracking users</li>
        <li>avoids any logging at all</li>
        <li>does not use cookies or javascript</li>
        <li>uses no database and keeps messages merely in memory for a limited amount of time</li>
    </ul>
    <p>To create a new chat room, add a name to the url:</p>
    <p>
        <a href="{{url}}/my-new-room"><code>{{url}}/my-new-room</code></a>
    </p>
    <p>
        As long as nobody else knows the name, the chat room is <em>truly unknown</em>.
    </p>
</div>

</body>

{% endblock %}
