<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{style}}">
</head>
<body>

<div class="top-head flex-row space-between">
    <div class="flex-row">
        <div><a href="?light">light</a></div>
        <div><a href="?dark">dark</a></div>
    </div>
    <div class="flex-row">
        <div><a href="https://github.com/defgsus/noscript-chat" target="_blank">github</a></div>
        <div><a href="/">chat</a></div>
    </div>
</div>


<div class="disclaimer">
    <p>
        Hi! This is an anonymous chat website that
    </p>
    <ul>
        <li>avoids tracking users</li>
        <li>avoids any logging at all</li>
        <li>uses no database and keeps messages merely in memory for a limited amount of time</li>
    </ul>
    <p>To create a new chat room, add a name to the url:</p>
    <p>
        <a href="{{url}}/my-new-room"><code>{{url}}/my-new-room</code></a>
    </p>
    <p>
        As long as nobody else knows the name, the chat room is <em>truly unknown</em>.
    </p>
</div>

</body>
