<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{style}}">
</head>
<body>

<div class="top-head flex-row space-between">
    <div class="flex-row">
        <div><a href="?light">light</a></div>
        <div><a href="?dark">dark</a></div>
    </div>
    <div class="flex-row">
        <div><a href="https://github.com/defgsus/noscript-chat" target="_blank">github</a></div>
        <div><a href="/disclaimer">disclaimer</a></div>
    </div>
</div>

<header>
    <div class="title">{{url}}</div>

    <form method="POST">
        <textarea name="message" placeholder="..." autofocus></textarea>
        <div class="flex-row space-between controls wrap">
            <div><input type="text" name="user" placeholder="anonymous" value="{{user}}"></div>
            <div><button type="submit">Post</button></div>
        </div>
    </form>
</header>

<main>

<!--
</main>
</body>
-->