{% extends "base.html" %}

{% block content %}

<header>
    <div class="title text-center">{{url}}</div>
    <div id="sub-title" class="text-center"></div>

    <form method="POST">
        <textarea name="message" placeholder="..." autofocus></textarea>
        <div class="flex-row space-between controls wrap">
            <div><input type="text" name="user" placeholder="anonymous" value="{{user}}"></div>
            <div><button type="submit">Post</button></div>
        </div>
    </form>
</header>

<main>

<!--
</main>
-->

{% endblock %}
